<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro">
  <style>
    body {
      font-family: "Maven Pro", serif;
    }
  </style>
  <title>🧊 Backdrop</title>
</head>
<body>
  <h2>🤖 Youtube Shorts Summary Generator</h2>
  {% if tasklists|length > 0 %}
    <form method="POST">
      <label>Place the url of the YouTube Shorts below:</label>
      <br>
      <input name="url", size=50, id="url">
      <br>
      <br>
      <label>Select the date for the reminder:</label>
      <br>
      <input name="calendar" type="date" />
      <br>
      <br>
      <label>Select the task list to genereate reminders under:</label>
      <br>
      <select name="tasklist" id="tasklist">
        {% for tasklist in tasklists %}
          <option value="{{tasklist}}">{{tasklist}}</option>
        {% endfor %}
      </select>
      <br>
      <br>
      <input type="submit" class="som" value="Submit">
    </form>
  {% else %}
    <p>You need to log in before you can use the service!!</p>
    <p>Please go to /authorize to authenticate with your Google account</p> 
  {% endif %}
</body>
</html>